// app global css
@font-face
    font-family Din
    src url("fonts/DINPro-Cond.otf") format("opentype")

@font-face
    font-family DinMedium
    src url("fonts/DINPro-Medium_13936.otf") format("opentype")

@font-face
    font-family Din
    font-weight bold
    src: url("fonts/dinpro-bold.otf") format("opentype")

@font-face
    font-family Arimo
    src url("fonts/Arimo-Regular.otf") format("opentype")

@font-face
    font-family Merch
    src url('fonts/fake-receipt.regular.ttf') format('truetype')

@font-face
    font-family RobotoRegular
    src url('fonts/Roboto-Regular.ttf') format('truetype')

    
@font-face
    font-family RobotoThin
    src url('fonts/Roboto-Thin.ttf') format('truetype') 

@font-face
    font-family RobotoBold
    src url('fonts/Roboto-Bold.ttf') format('truetype')